
body {
  padding: 0
  margin: 0;
  font-family: sans-serif;
  background-image: url("../Images/proj11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 25%;
  left: 25%;
}

#card input[type="button"]{
  margin: auto;
}
.h1{
  font-style: normal;
}
